@import "vars";
@import "mixins";
@import "vendor/reset.scss";

html{
    font-size: 62.5%;
}

body{
    background-color: #181818;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    color: $white;
    font-size: 1.4rem;
    line-height: 1.5;

    &.no-scroll{
        overflow: hidden;
    }
    @include breakpoint($tablet-bp){
        &.show-sidebar{
            overflow: hidden;
        }
    }
}

*,
*:before,
*:after{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;

    &:hover{
         text-decoration: underline;
    }
    &:focus, &:active{
        outline: none;
    }
}


/* Blocks */
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/burger.scss";
@import "blocks/subnav.scss";
@import "blocks/search.scss";
@import "blocks/sidebar.scss";
@import "blocks/main.scss";
@import "blocks/container.scss";
@import "blocks/profile.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";
@import "blocks/stories.scss";
@import "blocks/addPost.scss";
@import "blocks/post.scss";
@import "blocks/embed.scss";
@import "blocks/pagination.scss";
@import "blocks/related.scss";
@import "blocks/comments.scss";
@import "blocks/form.scss";
@import "blocks/work.scss";
@import "blocks/tags.scss";
@import "blocks/cabinet.scss";
@import "blocks/modal.scss";

