.btn{
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;


    background-color: $secondary;
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: $white;
    text-decoration: none;

    transition: background-color .2s linear;

    &:hover{
        text-decoration: none;
    }

    &--red{
        background-color: $red;
        box-shadow: 0 7px 17px -10px rgba($red, .3);
        &:hover,
        &:focus{
          background-color: darken($red, 11%);  
        }
    }
    &--blue{
        background-color: $blue;
        box-shadow: 0 7px 17px -10px rgba($blue, .3);
        &:hover,
        &:focus{
            background-color: darken($blue, 10%);  
        }
    }

    &--rounded{
        border-radius: 0.41em;
    }
    &--sm{
        padding: .7em 1.25em ;
    }
}