.form{

    &--auth{
        max-width: 28rem;
        margin: 0 auto;

        text-align: center;
    }
}

.form__group{
    margin-bottom: 1.5rem;
    position: relative;

    &--md{
        margin-bottom: 2.5rem;
    }
}


/*input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 999px $primery;
    -webkit-text-fill-color: $white  !important;
}*/


.form__control{
    display: block;
    width: 100%;
    padding: .5rem 0 .75rem;

    background: none;

    
    border: none;
    border-bottom: 1px solid #3F3F3F;
    border-radius: 0;
    box-shadow: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: $white;

    &::placeholder{
        color: rgba($white, .2);
    }

    &:focus + .form__line{
        width: 100%;
    }

    &--textarea{
        height: 32px;
        overflow: hidden;
        resize: none;
    }
}
.form__line{
    width: 0;
    height: 1px;

    background-color: $blue;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .2s linear;
}

.form__footer{
    &--center{
        text-align: center;
    }
}
.form__footer-list{
    display: flex;
    justify-content: center;

    font-size: 1.2rem;
    line-height: 1.2;

    li{
        margin: 0 .5rem;
    }
    a{
        color: $white;
    }
}

