.work{
    display: flex;
    margin-bottom: 3rem;
    overflow: hidden;
    
    border-radius: 5px;
    background-color: $primery;
    box-shadow: 0 15px 25px rgba($black, .35);

    @include breakpoint($mobile-bp){
        flex-direction: column;
    }
}
.work__preview{
    display: block;
    overflow: hidden;
    width: 31rem;

    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .4s linear;

        &:hover{
            transform: scale(1.1);
        }
    }
    
    @include breakpoint($mobile-bp){
        width: 100%;
        height: 15rem;
    }
}
.work__content{
    max-width: 29rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint($mobile-bp){
        max-width: none;
        padding: 1.5rem;
    }
}
.work__title{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: $white;
    font-weight: 500;

    a{
        color: inherit;
    }

    @include breakpoint($mobile-bp){
        margin-bottom: 2rem;
    }
}
.work__description{
    font-size: 1.6rem;
    line-height: 1.68;
    font-weight: 300;
    color: #d2d2d2;
    margin-bottom: 3rem;

    @include breakpoint($mobile-bp){
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
}
.work__footer{
    margin-top: auto;
    text-align: right;

    @include breakpoint($mobile-bp){
        text-align: left;
    }
}
